.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 50px;
  margin: 10px;
}
.button_left,
.button_right {
  display: inline-flex;
  height: 100%;
  background: #ffffff40;
  color: black;
  font-size: 20pt;
  transition: background 0.1s ease-in-out, transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
}
.button_left {
  width: calc(80% - 1px);
  border-radius: 10px 0 0 10px;
  transform-origin: 100% 50%;
}
.button_right {
  width: calc(20% - 1px);
  border-radius: 0 10px 10px 0;
  transform-origin: 0% 50%;
}
.button_divider {
  display: inline-block;
  content: '';
  width: 2px;
  height: 100%;
  background: #000000;
}
.button[disabled] {
  opacity: 0.25;
}
.button_left:not([disabled]):hover,
.button_right:not([disabled]):hover,
.button_left:not([disabled]):focus,
.button_right:not([disabled]):focus {
  cursor: pointer;
  background: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 5px 10px #a0a0a020;
}
