.button {
  width: 200px;
  margin: 10px 0;
  padding: 15px 10px;
  font-size: 1.25em;
}
.button:not(:disabled):hover,
.button:not(:disabled):focus {
  transform: scale(1.1);
}
.button_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.button_right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.button i {
  transition: transform var(--fast);
}
.button:not(:disabled):hover i,
.button:not(:disabled):focus i {
  transform: rotate(-10deg) scale(1.25);
}
