.wiggle_hitbox .wiggle_item {
  display: inline-block;
}
.wiggle_hitbox[data-wiggle] .wiggle_item,
.wiggle_hitbox:not(:disabled):hover .wiggle_item,
.wiggle_hitbox:not(:disabled):focus .wiggle_item {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes wiggle {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(10%);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.wiggle_hitbox .wiggle_item:nth-of-type(1) {
  animation-delay: 0.1s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(2) {
  animation-delay: 0.2s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(3) {
  animation-delay: 0.3s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(4) {
  animation-delay: 0.4s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(5) {
  animation-delay: 0.5s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(6) {
  animation-delay: 0.6s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(7) {
  animation-delay: 0.7s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(8) {
  animation-delay: 0.8s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(9) {
  animation-delay: 0.9s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(10) {
  animation-delay: 1.0s;
}
.wiggle_hitbox .wiggle_item:nth-of-type(11) {
  animation-delay: 1.1s;
}
