.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -99;
  background: linear-gradient(45deg, #ffd54f, #ff8a65, #f06292);
  transition: background var(--fast);
}
canvas {
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}
.background[data-color="1"] {
}
.background[data-color="2"] {
}
.background[data-color="3"] {
}
.background[data-color="4"] {
}
