.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -99;
  opacity: 0.75;
}
.background > * {
  position: absolute;
  width: 100%;
  height: 100%;
}
.background_gradient {
  transition: opacity 0.5s linear;
}
canvas {
  mix-blend-mode: overlay;
}
