.dictionary_header {
  margin-top: 20px;
  margin-bottom: -10px;
}
.dictionary_header .button {
  padding: 5px 0;
}
.dictionary_main {
  padding: 0;
}
.dictionary_row {
  width: 240px;
  max-width: 100%;
}
.dictionary_row > *:nth-child(1) {
  width: 30%;
}
.dictionary_row > *:nth-child(2) {
  width: 40%;
}
.dictionary_row > *:nth-child(3) {
  width: 30%;
}
.dictionary_footer > * {
  margin: 10px;
}
.dictionary_search {
  width: 100px;
}
