.home_button {
  width: 150px;
  margin: 10px 0;
}
.home_button .button_icon {
  padding-right: 10px;
}
.home_button:not(:disabled):hover,
.home_button:not(:disabled):focus {
  transform: scale(1.1);
}
.home_button:not(:disabled):hover .button_icon,
.home_button:not(:disabled):focus .button_icon {
  transform: rotate(-10deg) scale(1.25);
}
