.dictionary_details {
  text-align: center;
}
.table_container {
  width: calc(3 * var(--xl) + 17px);
}
.table_container[data-overflow] {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
.table_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: var(--md);
}
.table_row > * {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--xl);
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
}
.table_row > *:not(:first-child) {
  border-left: solid 1px var(--slate);
}
.table_row > button > i {
  margin-left: var(--xs);
}