.dictionary_table_row {
  border-radius: 5px;
  cursor: pointer;
}
.dictionary_table_row[data-active='true'] {
  background: var(--slate);
}
.dictionary_table_row > * {
  width: 100px;
  outline: none;
}
.dictionary_table {
  overflow-y: auto;
}
