.dictionary_table_row {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.dictionary_table_row[data-active='true'] {
  background: var(--slate);
}
.dictionary_table_row > * {
  width: 100px;
  outline: none;
}
.dictionary_table {
  flex-grow: 1;
  overflow-y: auto;
}
