.big_button {
  width: 200px;
  margin: 10px 0;
  padding: 15px 10px;
  font-size: 1.25em;
}
.big_button:not([data-disabled]):hover,
.big_button:not([data-disabled]):focus {
  transform: scale(1.1);
}
.big_button_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.big_button_right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.big_button i {
  transition: transform var(--fast);
}
.big_button:not([data-disabled]):hover i,
.big_button:not([data-disabled]):focus i {
  transform: rotate(-10deg) scale(1.25);
}
