.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  outline: none;
  transition: opacity var(--fast), background var(--fast), transform var(--fast);
}
.button:hover,
.button:focus {
  background: var(--white);
}
.button[data-disabled='true'] {
  opacity: 0.25;
}
.button:hover {
  cursor: pointer;
}
.header_button {
  margin-left: 0;
  margin-right: 20px;
  padding: 0;
  width: 30px;
  height: 30px;
}