button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 5px;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: opacity var(--fast), background var(--fast), transform var(--fast);
}

button .button_icon {
  transition: transform var(--fast);
}
button:disabled {
  opacity: 0.5;
}
button:not(:disabled):hover,
button:not(:disabled):focus {
  background: var(--white);
}

.button_icon,
.button_text {
  padding: 5px;
}
.button_icon:not(:only-child) {
  justify-content: flex-end;
  width: 20%;
}
.button_text:not(:only-child) {
  justify-content: flex-start;
  width: 80%;
}
