.check_button {
  margin: var(--sm) var(--xxs);
  padding: var(--xxs) var(--xs);
  font-weight: 500;
  border-radius: var(--xs);
  outline: none;
  opacity: 0.35;
  transition: opacity 0.25s ease, background 0.25s ease, transform 0.25s ease;
}
.check_button:hover {
  cursor: pointer;
}
.check_button:hover,
.check_button:focus {
  background: white;
}
.check_button[data-checked='true'] {
  opacity: 1;
}
.check_button i {
  margin-right: var(--xs);
}