.check_button {
  padding: var(--xs) calc(2 * var(--xs));
  font-weight: 500;
  border-radius: var(--xs);
  outline: none;
  opacity: 0.35;
  transition: opacity var(--fast), background var(--fast), transform var(--fast);
}
.check_button:hover {
  cursor: pointer;
}
.check_button:hover,
.check_button:focus {
  background: white;
}
.check_button[data-checked="true"] {
  opacity: 1;
}
.check_button i {
  margin-right: var(--xs);
}
