.icon_button {
  display: flex;
  width: var(--xl);
  height: var(--md);
  font-size: 1.25em;
  font-weight: 500;
  border-radius: var(--xs);
  outline: none;
  overflow: hidden;
  transition: background var(--fast), transform var(--fast);
}
.icon_button:hover {
  cursor: pointer;
}
.icon_button:hover,
.icon_button:focus {
  transform: scale(1.1);
  background: var(--white);
}
.icon_button_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.icon_button_right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}
.icon_button i {
  transition: transform var(--fast);
}
.icon_button:hover i,
.icon_button:focus i {
  transform: rotate(-10deg) scale(1.25);
}
