:root {
  --black: #000000;
  --white: #ffffff;
  --slate: #00000020;

  --fast: 0.25s ease;
  --slow: 1s ease;
}

* {
  font-family: 'Quicksand', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
h2 {
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
h3 {
  margin: 20px 0 5px 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}
p {
  width: 100%;
  margin: 5px 0;
}
a {
  color: var(--black);
  transition: background var(--fast);
}
a:hover,
a:focus {
  background: var(--white);
}
strong {
  font-weight: 600;
}

.flex_row,
.flex_column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.flex_column {
  flex-direction: column;
}
.icon:not(:first-child) {
  margin-left: 5px;
}
.icon:not(:last-child) {
  margin-right: 5px;
}
