@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

* {
  font-family: "Quicksand", sans-serif;

  --xs: 5px;
  --sm: 10px;
  --md: 25px;
  --lg: 50px;
  --xl: 100px;
  --xxl: 300px;
  --xxxl: 600px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
*[data-color="red"] {
  background: #f48fb1;
}
*[data-color="purple"] {
  background: #ce93d8;
}
*[data-color="blue"] {
  background: #81d4fa;
}
*[data-color="green"] {
  background: #a5d6a7;
}
*[data-color="yellow"] {
  background: #ffe082;
}
*[data-color="gray"] {
  background: #b0bec5;
}
