@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

* {
  font-family: "Quicksand", sans-serif;

  --xxs: 5px;
  --xs: 10px;
  --sm: 20px;
  --md: 30px;
  --lg: 50px;
  --xl: 100px;
  --xxl: 250px;
  --xxxl: 500px;

  --black: #000000;
  --white: #ffffff;
  --slate: #00000010;
  --red: #f48fb1;
  --purple: #ce93d8;
  --blue: #81d4fa;
  --green: #a5d6a7;
  --yellow: #ffe082;
  --gray: #b0bec5;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
}
button:hover {
  cursor: pointer;
}
.semibold {
  font-weight: 500;
}

*[data-color="red"] {
  background: #f48fb1;
}
*[data-color="purple"] {
  background: #ce93d8;
}
*[data-color="blue"] {
  background: #81d4fa;
}
*[data-color="green"] {
  background: #a5d6a7;
}
*[data-color="yellow"] {
  background: #ffe082;
}
*[data-color="gray"] {
  background: #b0bec5;
}
