:root {
  --primary: hsl(194, 100%, 33%);
  --secondary: hsl(10, 82%, 67%);
  --error: hsl(350, 63%, 57%);

  --black: hsl(194, 25%, 25%);
  --dark-gray: hsl(194, 20%, 35%);
  --gray: hsl(194, 15%, 70%);
  --light-gray: hsl(194, 10%, 92%);
  --off-white: hsl(194, 5%, 95%);
  --white: hsl(194, 5%, 98%);

  --fast: 0.1s;
  --slow: 0.25s;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--white);
  color: var(--black);
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 40px;
}

section:last-child {
  flex-grow: 1;
}

h1,
h2 {
  margin: 0;
  color: var(--black);
}

h1 {
  font-weight: 600;
  font-size: 1.3rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
}

a {
  color: var(--primary);
  transition-duration: var(--fast);
  transition-property: color, background;
}

a:hover {
  color: var(--black);
}

input {
  min-width: 0;
  min-height: 40px;
  padding: 7px 15px;
  border: solid 2px var(--light-gray);
  border-radius: 999px;
  color: inherit;
  font: inherit;
  text-align: center;
  transition-duration: var(--fast);
  transition-property: border-color;
}

input:hover {
  border-color: var(--primary);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 7px 15px;
  gap: 10px;
  border: none;
  border-radius: 999px;
  background: var(--light-gray);
  color: var(--primary);
  font: inherit;
  cursor: pointer;
  transition-duration: var(--fast);
  transition-property: background, color;
}

button:hover {
  color: var(--black);
}

button.square {
  width: unset;
  min-width: 40px;
  height: unset;
  min-height: 40px;
  padding: 0;
}

button.primary {
  background: var(--primary);
  color: var(--white);
}

button.primary:hover {
  background: var(--black);
}

p {
  margin: 0;
  line-height: 2;
  text-align: justify;
}

:focus {
  outline-color: var(--primary);
}

::placeholder {
  color: var(--light-gray);
}

[disabled] {
  filter: saturate(0);
  opacity: 0.5;
  pointer-events: none;
}

.gray {
  color: var(--gray);
}

.error {
  color: var(--error);
  font-weight: 600;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filled {
  fill: currentColor;
  stroke: currentColor;
}

.pulse {
  animation: pulse 1s var(--delay, 0s) infinite both;
}

@keyframes pulse {
  50% {
    scale: 1.25;
  }
}

.wiggle-char {
  display: inline-block;
}

.wiggle-always {
  animation: wiggle 3s var(--delay, 0s) infinite both
    cubic-bezier(0.5, 0, 0.5, 1);
}

:has(> .wiggle-hover):hover .wiggle-hover {
  animation: wiggle 3s var(--delay, 0s) infinite both
    cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes wiggle {
  0% {
    translate: 0 0;
    filter: drop-shadow(0 0 transparent);
  }

  10% {
    translate: 0 -0.2em;
    filter: drop-shadow(0 0.2em var(--gray));
  }
  20% {
    translate: 0 0;
    filter: drop-shadow(0 0 transparent);
  }
}

.slide-enter-active,
.slide-leave-active {
  transition-duration: var(--fast);
  transition-property: translate, opacity;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.slide-enter-from {
  translate: 0 10px;
  opacity: 0;
}

.slide-leave-to {
  translate: 0 -10px;
  opacity: 0;
}
