:root {
  --black: hsl(200, 50%, 5%);
  --dark-gray: hsl(200, 50%, 25%);
  --gray: hsl(200, 50%, 50%);
  --light-gray: hsl(200, 50%, 90%);
  --white: hsl(200, 50%, 99%);
  --shadow: hsla(200, 19%, 15%, 0.125);

  --primary: hsl(200, 38%, 46%);

  --box-shadow: 2px 2px 2px var(--shadow), 0 0 2px var(--shadow);
}

html {
  background: var(--white);
  color: var(--black);
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 40px;
}

section:last-child {
  flex-grow: 1;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--black);
}
