.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.section {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 10px;
}
.section_h {
  flex-direction: row;
}
.section_v {
  flex-direction: column;
  flex-wrap: unset;
  justify-content: unset;
}
.section_sm {
  padding: 5px;
}

@media screen and (max-height: 400px) {
  .section_v {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}